h1 {
  font-family: "Libre Baskerville", serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

div {
  background-color: black;
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
}

img {
  border: white solid;
  border-width: 5px;
  width: 100%;
}
